.contact-details {
    display: flex;
    background-color: #edf3f7;
    border-bottom: 3px solid #d6e0eb;
    height: 100px;
}

.contact-details__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.contact-details__item {
    width: 40%;
    margin: 0 10px 10px 0;
    font-size: 14px;
}
