.main-stores-list__icon-wrapper {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.main-stores-list__icon_top {
    position: absolute;
    bottom: -7px;
    width: 10px;
    height: 10px;
    padding: 4px;
    border-radius: 2px;
    background-color: #d2e1f0;
    cursor: pointer;
}

.main-stores-list__icon_top:hover {
    background-color: #a1c9f0;
}

.main-stores-list__icon_drawing-pin {
    position: absolute;
    bottom: -7px;
    width: 10px;
    height: 10px;
    margin: 0 0 0 45px;
    padding: 4px;
    border-radius: 2px;
    background-color: #d2e1f0;
    cursor: pointer;
}

.main-stores-list__icon_drawing-pin:hover {
    background-color: #a1c9f0;
}
